@font-face {
  font-family: 'AnimeAce';
  src: url('animeace2bb_tt/animeace2_bld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.stop-scrolling {
  overflow: hidden;
}
.decorarSeccion:hover{
  cursor: pointer;
  background-image: url("imagenes/barra\ \(1\).png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 10px;
}
.X{
  background-image: url("X.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body {
  font-family: 'AnimeAce', sans-serif;
  min-height: 100vh;
}
h1, h2, h3 {
  letter-spacing: 1px;
}
#contenedor{
  width: 762px;
  min-height: 100vh;
  border-right: 2px solid black;
  border-left: 2px solid black;
  overflow: hidden;
}

#sombra{
  box-shadow: 5px 5px 7px 0px;
  width: 718px;
  height: 84px;
  margin-left: 17px;
  margin-top: 18px;
  z-index: 1;
  background-color: white;
}
#cabezera{
  overflow: hidden;
  background-image: url("imagenes/marco-distinto-mejorado\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 758px;
  height: 100px;
  margin-top: 10px;
  z-index: 2;
  opacity: 0;
}
#seccionCaja{
  overflow: hidden;
  height: 70px;
}
#seccion{
}
#seccion li{
  height: 60px;
}
#seccion li h1{
  display: inline-block;
}
#botonBarra{
  background-image: url("imagenes/barras.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 50px;
  top: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#botonBarra:hover{
  scale: 1.1;
}
#cerrarBarra{
  opacity: 0;
  scale: 0;
  width: 50px;
  height: 50px;
  top: 80px; 
  right: 50px;
  font-size: 40px;
  cursor: "none";
}
#inicio{
  opacity: 0;
  margin-top: 125px;
}
#inicioIzq{
  display: inline-block;
  width: 150px;
}
#inicioDer{
  display: inline-block;
  width: 150px;
}
#personal{
  margin-top: -55px;
  opacity: 0;
  height: 300px;
}
#personalTitulo{

}
#personalDatos{
  background-image: url("imagenes/marco-mediano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80%;
  width: 80%;
  margin-left: 10%;
}
.personalDatos{
  
}
#perfil{
  margin-top: 20px;
  opacity: 0;
}
#perfilTitulo{
  
}
#perfilInfo{
  
}
#educacion{
  margin-top: 20px;
  background-image: url("imagenes/marco-sin-derecha\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 95%;
  margin-left: 5%;
  opacity: 0;
}
.decorarTitulo{
  display: inline-block;
  background-image: url("imagenes/barra\ \(1\).png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 10px;
}
.decorarTexto{
  display: inline-block;
  background-image: url("imagenes/barra\ \(1\).png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5px;
}
.educacionSubTitulo{
  
}
.educacionDatos{
  
}
#experiencia{
  background-image: url("imagenes/marco-sin-derecha2\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 95%;
  margin-left: 4%;
  opacity: 0;
  margin-top: -30px;
  margin-bottom: 20px;
}
#experienciaTitulo{
  display: inline-block;
}
#proyectos{
  margin-top: 20px;
  background-image: url("imagenes/marco-mediano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 170px;
  opacity: 0;
  padding-top: 10px;
  margin-bottom: 20px;
}
.proyectosLista{
  
}
.proyectosLink{
  
  
}
.proyectosLink:hover{
  cursor: pointer;
  display: inline-block;
  background-image: url("imagenes/barra\ \(1\).png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5px;
}
#herramientasTitulo{
  opacity: 0;
}
.herramientasSubTitulo{
  display: inline-block;
  width: 32%;
}
#herramientas{
  width: 100%;
  height: 500px;
  margin-left: -10px;
  opacity: 0;
  margin-bottom: 40px;
  margin-top: 20px;
}
#herramientasContenedorIzq{
  left: 0px;
  height: 80%;
  width: 37%;
}
#herramientasListaIzq{
  background-image: url("imagenes/marco-triple-izq.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#herramientasContenedorMed{
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  width: 37%;
}
#herramientasListaMed{
  background-image: url("imagenes/marco-triple-med.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#herramientasContenedorDer{
  height: 100%;
  right: 0px;
  width: 37%;
}
#herramientasListaDer{
  background-image: url("imagenes/marco-triple-der.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80%;
}
#herramientasTitulo{

}
#github{
  background-image: url("imagenes/pie.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -10px;
  width: 100%;
  opacity: 0;
  margin-bottom: 303px;
}
#final{
  top: 2790px;
}
#finalIzq{
  display: inline-block;
  width: 150px;
}
#finalDer{
  display: inline-block;
  width: 150px;
}

/*
cielo
#114A88 fondo principal
#1559C2
#1E43FF
luna
#5EB2FF otros
#DEF8FF
#F7FDFF subfondo1
kaido
#1D013D letras
#8B0BE9 otros
#52A4F6 subfondo2 principal
#A2EBFF subfondo2 secundario
#F3BFA8 subfondo2 terciario
fuego
#F2506E subfondo3 te
#F26B5E subfondo3 se
#F2B56B subFondo3 pr
*/